/* header */
.header {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ebebeb;
}

.header-div {
    margin: 0 auto;
    width: 1170px;
}

.contact {
    float: right;
}

.contact a {
    font-size: 14px;
    font-weight: 500;
    color: green;
    margin-right: 10px;
    text-decoration: none;
    line-height: 40px;
}

.contact a:hover {
    color: black;
}

.contact a i {
    font-style: normal;
}

.contact .green-top-btn {
    padding: 13px 20px;
    color: #FFFFFF;
    background: #3A7443;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.contact .green-top-btn:hover {
    background: #1c4623;
}

.logo {
    position: relative;
    float: left;
    height: 136px;
}

.logo a img {
    border: 0;
    vertical-align: middle;
    width: 240px !important;
    height: 96px !important;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.visible-phone {
    display: none;
}

.search-div {
    float: right;
    clear: right;
    margin-top: 10px;
}

.search-input {
    margin-top: 1px;
    margin-right: 5px;
}

.search-btn {
    float: right;
    margin-right: 10px;
    color: white;
    background-color: #3a7443;
}

.top-nav {
    float: right;
    margin-top: 10px;
    margin-bottom: 15px;
}

.top-nav ul {
    list-style: none;
    line-height: 40px;
}

.top-nav li {
    float: left;
}

.top-nav a {
    font-weight: 600;
    color: black;
    text-decoration: none;
    padding: 0 20px;
}

.top-nav .active-label {
    color: #66936d;
}

.top-nav a:hover {
    color: #66936d;
}

/*iphone: w < 768px*/
@media screen and (max-width: 767px) {
    .header-div {
        margin: 0 auto;
        width: 100%;
    }

    .top-nav {
        margin: 0 auto 20px auto ;
        float: none;
        overflow: hidden;
        max-width: 440px;
        width: 80%;
        display: none;
    }
    .top-nav a{
        margin-left: -40px;
        display: block;
        width: 440px;
    }

    .contact {
        width: 100%;
        text-align: center;
    }

    .search-div {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .search-btn {
        float: none;
    }

    .search-input {
        margin-top: 1px;
    }

    .logo {
        width: 100%;
        padding-left: 40px;
        padding-right: 90px;
    }

    .visible-phone {
        display: block;
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -18px;
        float: right;
    }

    .visible-phone a i {
        padding: 11px 13px;
        border: 1px solid #3a7443;
        border-radius: 10%;
        color: #3a7443;
    }
}

/*pad: w >= 768  && w< 992*/
@media screen and (max-width: 991px) and (min-width: 768px) {
    .header-div {
        margin: 0 auto;
        width: 724px;
    }

    .top-nav a {
        font-weight: 500;
        color: black;
        text-decoration: none;
        padding: 0 15px;
    }

    .top-nav {
        margin-top: 10px;
        margin-bottom: 20px;
    }

}

/*中等屏幕   w >= 992  && w<1200*/
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .header-div {
        margin: 0 auto;
        width: 960px;
    }

    .top-nav a {
        font-weight: 500;
        color: black;
        text-decoration: none;
        padding: 0 15px;
    }
}



